html {
  font-family: Arial, sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #919191;
    /* background-color: #000000; */
    /* background-color: #4b4c75; */
    }


  .wrapper {
    margin: 100px auto;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h2 {
    line-height: 1.2;
    text-align: center;
    color: #fff;
    margin: 0;
  }

  input {
    width: 100%;
    padding: 16px;
  }

.container{
  /* display: flex;
  width: 100%; */
}

#search {
    max-width: calc(100% - 16px);
}

form {
  text-align: center;
  position: relative;
}

img {
  /* display: block; */
  /* max-width: 100%; */
  /* width: 100%;
  margin-top: 0; */
}

.hdiv {
  /* background-color: #4b4c75; */
  padding: 20px;
}

.image {
  position: absolute;
  inset: 0;
  z-index: -1;
  /* padding-top: 110px; */
  /* top: 62%; */
  background-color: #4b4c75;
  aspect-ratio: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #4b4c75;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    font-size: 40px;
  }
  
  .options {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .options li {
    background: rgb(176, 185, 214);
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    /* margin: 0; */
    padding: 18px;
    text-transform: capitalize;
    color: #fff;
    margin: 0px 10%;
    opacity: 0;
  }
  
  .hl {
    background: #ffc600;
  }

  .form-div {

  }

  @media (orientation: landscape) {
  .wrapper {
    max-width: 1440px;
    display: block;
    margin: 0;
  }
  .image {
    aspect-ratio: 12 / 9;
  }
}


  @media (max-width: 1024px) {
    .wrapper {
      max-width: 1440px;
      display: block;
      margin: 0;
    }
    .image {
      aspect-ratio: 2 / 2;
    }
  }
  @media (max-width: 768px) {
    .wrapper {
      display: block;
      max-width: 920px;
      margin: 0;
    }
    img {
      /* max-width: 85%; */
    }
    .image {
      position: absolute;
      inset: 0;
      z-index: -1;
      padding-top: 6em;
      background-color: #4b4c75;
      aspect-ratio: 3 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 425px) {
    .wrapper {
      max-width: 1440px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0;
    }
    img {
      max-width: 85%;
    }
    .image {
      position: absolute;
      inset: 0;
      z-index: -1;
      padding-top: 70px;
      background-color: #4b4c75;
      aspect-ratio: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (min-width: 425px) {
    .wrapper {
      max-width: 1440px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0;
    }
    img {
      max-width: 85%;
    }
    .image {
      position: absolute;
      inset: 0;
      z-index: -1;
      padding-top: 70px;
      background-color: #4b4c75;
      aspect-ratio: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  } 
  

  @media (max-width: 396px) {
    .wrapper {
      max-width: 1440px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0;
    }
    img {
      max-width: 85%;
    }
    .image {
      position: absolute;
      inset: 0;
      z-index: -1;
      padding-top: 100px;
      background-color: #4b4c75;
      aspect-ratio: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 2560px) {
    .wrapper {
      max-width: 1440px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
    }
    .image {
      position: absolute;
      inset: 0;
      z-index: -1;
      padding-top: 100px;
      background-color: #4b4c75;
      aspect-ratio: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
